/* Media Query Mobile */
@media only screen and (max-width: 768px) {
  /*  */
  article#root {
    flex-direction: column;
  }
  .home-section-1 > div > h1 {
    font-size: 35px;
  }
  .home-section-1 > img {
    width: 85vw;
    top: 55px;
  }

  /*  */
  .constraints {
    padding: 0 30px;
  }
  .compiled-info {
    line-height: 2;
  }
  .compiled-info > div {
    margin-bottom: 35px;
  }
  video {
    width: -webkit-fill-available;
  }
  /* Navigation */
  .navigation {
    padding: 20px 30px;
  }
  nav > ul {
    padding: 0;
  }
  nav > ul > li:first-child,
  nav > ul > li:last-child {
    display: none;
  }
  nav > ul > li:nth-child(2) {
    margin: 0;
  }
}
@media only screen and (min-width: 550px) and (max-width: 768px) {
  article#root {
    flex-direction: row;
  }
  article#root > div > p {
    font-size: 13px;
  }
  .home-section-1 > img {
    width: 50vw;
    top: 0;
  }
  .home-section-1 > div > h1 {
    font-size: 28px;
  }
}
